<!doctype html>
<html>
  <head>
    <script src="//use.typekit.net/bvg0lav.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | {{ site.name }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
  </head>
  <body>
    <header class="site-header" role="banner">
      <h1 class="site-header__title"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
    </header>
