main {
  max-width: 50em;
  margin: 0 auto;
  .week-menus {
    ul {
      display: -webkit-flex;
      display: flex;
      flex-wrap: -webkit-wrap;
      flex-wrap: wrap;
      list-style: none;
    }
  }
}
